body   {  margin: 0;  padding: 0;  }
body * {  font-family: Arial, Helvetica, sans-serif;  }

@media (min-width: 768px) {
  #wd-kanbas .wd-main-content-offset {
    padding-left: 140px !important;
  }
}
.list-group.wd > .list-group-item.active {
    color: black;
    background-color: white;
    border-left: 3px solid black !important;
  }
  .btn-secondary {
    --bs-btn-color: #000 !important;
    --bs-btn-bg: #c7cdd1 !important;
    --bs-btn-border-color: #c7cdd1 !important;
    --bs-btn-hover-color: #fff !important;
  }
  .bg-secondary {
    --bs-secondary-rgb: 199, 205, 209;
  }
  .list-group-item {
    --bs-list-group-border-color: gray;
  }
  .custom-gray1 {
    color: #505050;
  }
  .wd-lesson {
    border-left: 3px solid green !important;
  }
  .wd-assignment-list-item {
    border-left: 3px solid green !important;
  }

  #wd-search-assignment-box span{
    position: absolute;
    margin-left: 10px;
    height: 38px;
    display: flex;
    align-items: center;
  }
  FaMagnifyingGlass {
    padding-left: 25px;
    height: 20px;
  }
  input#wd-search-assignment {
    text-indent: 25px;
  }
  span {
    white-space:pre;
  }
  .assignment-editor-border {
    border-width: 1px;
    border-style: solid;
    border-color: #a0a0a0;
  }